@import '../variables';

.pizza-block {
  $pizzaBlockWidth: 300px;
  $gap: 30px;
  width: calc((100% - (#{$gap} * 3 )) / 4);
  text-align: center;
  display: flex;
  flex-direction: column;

  //&:not(:nth-of-type(4n)) {
  //  margin-right: 35px;
  //}

  &__image {
    //width: 260px;
    width: 100%;
    height: 100%;
    max-height: 185px;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 70px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

@media  screen and (max-width: 1440px) {
  .pizza-block {

    $gap: 30px;
    width: calc((100% - (#{$gap} * 2 )) / 3);
  }

  .sort{
    &__label{
      b{
        display: none;
      }
    }
  }

  .categories{
    ul{
      li{
        padding: 10px 15px;
      }
    }
  }
}

@media  screen and (max-width: 1024px) {
  .pizza-block {
    $gap: 30px;
    width: calc((100% - #{$gap} ) / 2);
  }

  .content{
    &__top{
      display: flex;
      flex-direction: column-reverse;
      gap: 30px
    }
  }

  .categories{
    width: 100%;

    ul{
      width: 100%;
      overflow-x: scroll ;
    }
  }
}

@media  screen and (max-width: 640px) {
  .pizza-block {
    width: 100%;
  }
}